##  Import Required  **Libraries** ##

In [1079]:
import pandas as pd
import numpy as np
import seaborn as sns

#**Loading Train Data**

In [1080]:
df_train_order=pd.read_csv('/content/train_order_data-1561627847149.csv')

In [1081]:
df_train_order.head()                          ## To know the top of the rows

,Customer_ID,Order_ID,Date_of_Order,Order_Value_USD,Order_Source,Order_Payment_Method,Merchant_ID
0,126221,37cea9512f8d,2018-04-29 16:39:26,148,Direct,Credit Card,124231
1,115471,09f12e6efde2,2018-06-16 17:05:40,145,SEO,Credit Card,136178
2,151786,4e69e956e159,2018-10-26 18:00:46,62,Ads,Internet Banking,198611
3,140456,663443aaeb82,2018-12-12 05:41:52,28,SEO,Debit Card,127993
4,114721,99258810c121,2018-09-20 11:06:10,70,Ads,Credit Card,250146

In [1082]:
df_train_order.shape                            ## To know the how many rows and columns are there in train_set

(54213, 7)

In [1083]:
df_train_order.drop(['Customer_ID','Order_ID'],axis=1,inplace=True)

In [1084]:
df_train_order.head()

,Date_of_Order,Order_Value_USD,Order_Source,Order_Payment_Method,Merchant_ID
0,2018-04-29 16:39:26,148,Direct,Credit Card,124231
1,2018-06-16 17:05:40,145,SEO,Credit Card,136178
2,2018-10-26 18:00:46,62,Ads,Internet Banking,198611
3,2018-12-12 05:41:52,28,SEO,Debit Card,127993
4,2018-09-20 11:06:10,70,Ads,Credit Card,250146

In [1085]:
df_train_merchant=pd.read_csv('/content/train_merchant_data-1561627820784.csv')

In [1086]:
df_train_merchant.head()

,Ecommerce_Provider_ID,Merchant_ID,Merchant_Registration_Date,Registered_Device_ID,Gender,Age,IP_Address
0,1746213,50448,2018-05-01 21:15:11,VATQMMZTVOZUT,F,39,48.151.136.76
1,1746213,338754,2018-04-14 10:13:00,LJCILLBRQZNKS,M,35,94.9.145.169
2,1746213,291127,2018-06-20 07:44:22,JFVHSUGKDAYZV,F,40,58.94.157.121
3,1746213,319919,2018-06-27 01:41:39,WFRXMPLQYXRMY,M,37,193.187.41.186
4,1746213,195911,2018-01-05 00:55:41,GGHKWMSWHCMID,F,27,125.96.20.172

In [1087]:
df_train_merchant.shape

(54213, 7)

In [1088]:
df_train_merchant.drop(['Ecommerce_Provider_ID','Registered_Device_ID'],axis=1,inplace=True)

In [1089]:
df_train_merchant.head()

   Merchant_ID Merchant_Registration_Date Gender  Age      IP_Address
0        50448        2018-05-01 21:15:11      F   39   48.151.136.76
1       338754        2018-04-14 10:13:00      M   35    94.9.145.169
2       291127        2018-06-20 07:44:22      F   40   58.94.157.121
3       319919        2018-06-27 01:41:39      M   37  193.187.41.186
4       195911        2018-01-05 00:55:41      F   27   125.96.20.172

In [1090]:
df_train_data=pd.read_csv('/content/train-1561627878332.csv')

In [1091]:
df_train_data.head()

   Merchant_ID  Fraudster
0       221592          0
1       316935          1
2        38454          1
3       214437          1
4       296240          1

In [1092]:
df_train_data.shape

(54213, 2)

In [1093]:
df_train_ip_boundaries=pd.read_csv('/content/ip_boundaries_countries-1561628631121.csv.crdownload')

In [1094]:
df_train_ip_boundaries.head()

  lower_bound_ip_address upper_bound_ip_address    country
0                1.0.0.0              1.0.0.255  Australia
1                1.0.1.0              1.0.1.255      China
2                1.0.2.0              1.0.3.255      China
3                1.0.4.0              1.0.7.255  Australia
4                1.0.8.0             1.0.15.255      China

In [1095]:
df_train_merchant.head()

   Merchant_ID Merchant_Registration_Date Gender  Age      IP_Address
0        50448        2018-05-01 21:15:11      F   39   48.151.136.76
1       338754        2018-04-14 10:13:00      M   35    94.9.145.169
2       291127        2018-06-20 07:44:22      F   40   58.94.157.121
3       319919        2018-06-27 01:41:39      M   37  193.187.41.186
4       195911        2018-01-05 00:55:41      F   27   125.96.20.172

In [1096]:
df_train_merchant['IP_Address'].value_counts

<bound method IndexOpsMixin.value_counts of 0         48.151.136.76
1          94.9.145.169
2         58.94.157.121
3        193.187.41.186
4         125.96.20.172
              ...
54208     247.25.244.31
54209     80.30.170.122
54210    188.39.154.217
54211    116.20.101.178
54212    171.47.212.179
Name: IP_Address, Length: 54213, dtype: object>

# **Merging the train datasets**

In [1097]:
df_merge_train_data=df_train_order.merge(df_train_merchant, on="Merchant_ID")

In [1098]:
df_merge_train_data.head()

,Date_of_Order,Order_Value_USD,Order_Source,Order_Payment_Method,Merchant_ID,Merchant_Registration_Date,Gender,Age,IP_Address
0,2018-04-29 16:39:26,148,Direct,Credit Card,124231,2018-04-19 00:48:20,M,30,37.113.112.143
1,2018-06-16 17:05:40,145,SEO,Credit Card,136178,2018-05-15 23:30:37,F,20,190.255.172.133
2,2018-10-26 18:00:46,62,Ads,Internet Banking,198611,2018-08-11 04:12:15,F,46,130.243.149.190
3,2018-12-12 05:41:52,28,SEO,Debit Card,127993,2018-08-17 01:52:14,M,37,48.250.147.203
4,2018-09-20 11:06:10,70,Ads,Credit Card,250146,2018-05-26 11:58:33,F,26,212.167.41.153

In [1099]:
final_train_data=df_merge_train_data.merge(df_train_data, on="Merchant_ID")

In [1100]:
final_train_data.head()

,Date_of_Order,Order_Value_USD,Order_Source,Order_Payment_Method,Merchant_ID,Merchant_Registration_Date,Gender,Age,IP_Address,Fraudster
0,2018-04-29 16:39:26,148,Direct,Credit Card,124231,2018-04-19 00:48:20,M,30,37.113.112.143,0
1,2018-06-16 17:05:40,145,SEO,Credit Card,136178,2018-05-15 23:30:37,F,20,190.255.172.133,0
2,2018-10-26 18:00:46,62,Ads,Internet Banking,198611,2018-08-11 04:12:15,F,46,130.243.149.190,1
3,2018-12-12 05:41:52,28,SEO,Debit Card,127993,2018-08-17 01:52:14,M,37,48.250.147.203,0
4,2018-09-20 11:06:10,70,Ads,Credit Card,250146,2018-05-26 11:58:33,F,26,212.167.41.153,0

In [1101]:
!pip install maxminddb-geolite2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: maxminddb-geolite2 in /usr/local/lib/python3.7/dist-packages (2018.703)
Requirement already satisfied: maxminddb in /usr/local/lib/python3.7/dist-packages (from maxminddb-geolite2) (2.2.0)

In [1102]:
from geolite2 import geolite2

def get_country(ip):
    try:
        x = geo.get(ip)
    except ValueError:
        return pd.np.nan
    try:
        return x['country']['names']['en'] if x else pd.np.nan
    except KeyError:
        return pd.np.nan

geo = geolite2.reader()

# it took me quite some time to find a free and large enough list of IPs ;)
# IP's for testing: http://upd.emule-security.org/ipfilter.zip
#x = pd.read_csv(r'D:\download\ipfilter.zip',usecols=[0], sep='\s*\-\s*',header=None, names=['ip'])

# get unique IPs
unique_ips = final_train_data["IP_Address"].unique()
# make series out of it
unique_ips = pd.Series(unique_ips, index = unique_ips)
# map IP --> country
final_train_data['Country'] = final_train_data['IP_Address'].map(unique_ips.apply(get_country))

geolite2.close()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  if __name__ == '__main__':

In [1103]:
final_train_data.head()

,Date_of_Order,Order_Value_USD,Order_Source,Order_Payment_Method,Merchant_ID,Merchant_Registration_Date,Gender,Age,IP_Address,Fraudster,Country
0,2018-04-29 16:39:26,148,Direct,Credit Card,124231,2018-04-19 00:48:20,M,30,37.113.112.143,0,Russia
1,2018-06-16 17:05:40,145,SEO,Credit Card,136178,2018-05-15 23:30:37,F,20,190.255.172.133,0,Colombia
2,2018-10-26 18:00:46,62,Ads,Internet Banking,198611,2018-08-11 04:12:15,F,46,130.243.149.190,1,Sweden
3,2018-12-12 05:41:52,28,SEO,Debit Card,127993,2018-08-17 01:52:14,M,37,48.250.147.203,0,United States
4,2018-09-20 11:06:10,70,Ads,Credit Card,250146,2018-05-26 11:58:33,F,26,212.167.41.153,0,NaN

In [1104]:
final_df_train=final_train_data

In [1105]:
final_df_train.head()

,Date_of_Order,Order_Value_USD,Order_Source,Order_Payment_Method,Merchant_ID,Merchant_Registration_Date,Gender,Age,IP_Address,Fraudster,Country
0,2018-04-29 16:39:26,148,Direct,Credit Card,124231,2018-04-19 00:48:20,M,30,37.113.112.143,0,Russia
1,2018-06-16 17:05:40,145,SEO,Credit Card,136178,2018-05-15 23:30:37,F,20,190.255.172.133,0,Colombia
2,2018-10-26 18:00:46,62,Ads,Internet Banking,198611,2018-08-11 04:12:15,F,46,130.243.149.190,1,Sweden
3,2018-12-12 05:41:52,28,SEO,Debit Card,127993,2018-08-17 01:52:14,M,37,48.250.147.203,0,United States
4,2018-09-20 11:06:10,70,Ads,Credit Card,250146,2018-05-26 11:58:33,F,26,212.167.41.153,0,NaN

In [1106]:
final_df_train.head()

,Date_of_Order,Order_Value_USD,Order_Source,Order_Payment_Method,Merchant_ID,Merchant_Registration_Date,Gender,Age,IP_Address,Fraudster,Country
0,2018-04-29 16:39:26,148,Direct,Credit Card,124231,2018-04-19 00:48:20,M,30,37.113.112.143,0,Russia
1,2018-06-16 17:05:40,145,SEO,Credit Card,136178,2018-05-15 23:30:37,F,20,190.255.172.133,0,Colombia
2,2018-10-26 18:00:46,62,Ads,Internet Banking,198611,2018-08-11 04:12:15,F,46,130.243.149.190,1,Sweden
3,2018-12-12 05:41:52,28,SEO,Debit Card,127993,2018-08-17 01:52:14,M,37,48.250.147.203,0,United States
4,2018-09-20 11:06:10,70,Ads,Credit Card,250146,2018-05-26 11:58:33,F,26,212.167.41.153,0,NaN

In [1107]:
final_df_train.isnull().sum()

Date_of_Order                    0
Order_Value_USD                  0
Order_Source                     0
Order_Payment_Method             0
Merchant_ID                      0
Merchant_Registration_Date       0
Gender                           0
Age                              0
IP_Address                       0
Fraudster                        0
Country                       7808
dtype: int64

In [1108]:
final_df_train['year_of_Order']=final_df_train['Date_of_Order'].apply(lambda x:x.split('-')[0])

In [1109]:
final_df_train['month_of_Order']=final_df_train['Date_of_Order'].apply(lambda x:x.split('-')[1])

In [1110]:
final_df_train['day_of_Order']=final_df_train['Date_of_Order'].apply(lambda x:x.split('-')[2].split(' ')[0])

In [1111]:
final_df_train['ordered_time_hours']=final_df_train['Date_of_Order'].apply(lambda x:x.split('-')[2].split(' ')[1].split(':')[0])

In [1112]:
final_df_train['ordered_time_minutes']=final_df_train['Date_of_Order'].apply(lambda x:x.split('-')[2].split(' ')[1].split(':')[1])

In [1113]:
final_df_train['ordered_time_seconds']=final_df_train['Date_of_Order'].apply(lambda x:x.split('-')[2].split(' ')[1].split(':')[2])

In [1114]:
final_df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54213 entries, 0 to 54212
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date_of_Order               54213 non-null  object
 1   Order_Value_USD             54213 non-null  int64
 2   Order_Source                54213 non-null  object
 3   Order_Payment_Method        54213 non-null  object
 4   Merchant_ID                 54213 non-null  int64
 5   Merchant_Registration_Date  54213 non-null  object
 6   Gender                      54213 non-null  object
 7   Age                         54213 non-null  int64
 8   IP_Address                  54213 non-null  object
 9   Fraudster                   54213 non-null  int64
 10  Country                     46405 non-null  object
 11  year_of_Order               54213 non-null  object
 12  month_of_Order              54213 non-null  object
 13  day_of_Order                54213 non-null  object
 14  ordered_time_hours          54213 non-null  object
 15  ordered_time_minutes        54213 non-null  object
 16  ordered_time_seconds        54213 non-null  object
dtypes: int64(4), object(13)
memory usage: 7.4+ MB

In [1115]:
final_df_train['year_of_Order']=final_df_train['year_of_Order'].astype(int)
final_df_train['month_of_Order']=final_df_train['month_of_Order'].astype(int)
final_df_train['day_of_Order']=final_df_train['day_of_Order'].astype(int)
final_df_train['ordered_time_hours']=final_df_train['ordered_time_hours'].astype(int)
final_df_train['ordered_time_minutes']=final_df_train['ordered_time_minutes'].astype(int)
final_df_train['ordered_time_seconds']=final_df_train['ordered_time_seconds'].astype(int)

In [1116]:
final_df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54213 entries, 0 to 54212
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date_of_Order               54213 non-null  object
 1   Order_Value_USD             54213 non-null  int64
 2   Order_Source                54213 non-null  object
 3   Order_Payment_Method        54213 non-null  object
 4   Merchant_ID                 54213 non-null  int64
 5   Merchant_Registration_Date  54213 non-null  object
 6   Gender                      54213 non-null  object
 7   Age                         54213 non-null  int64
 8   IP_Address                  54213 non-null  object
 9   Fraudster                   54213 non-null  int64
 10  Country                     46405 non-null  object
 11  year_of_Order               54213 non-null  int64
 12  month_of_Order              54213 non-null  int64
 13  day_of_Order                54213 non-null  int64
 14  ordered_time_hours          54213 non-null  int64
 15  ordered_time_minutes        54213 non-null  int64
 16  ordered_time_seconds        54213 non-null  int64
dtypes: int64(10), object(7)
memory usage: 7.4+ MB

In [1117]:
final_df_train.head()

,Date_of_Order,Order_Value_USD,Order_Source,Order_Payment_Method,Merchant_ID,Merchant_Registration_Date,Gender,Age,IP_Address,Fraudster,Country,year_of_Order,month_of_Order,day_of_Order,ordered_time_hours,ordered_time_minutes,ordered_time_seconds
0,2018-04-29 16:39:26,148,Direct,Credit Card,124231,2018-04-19 00:48:20,M,30,37.113.112.143,0,Russia,2018,4,29,16,39,26
1,2018-06-16 17:05:40,145,SEO,Credit Card,136178,2018-05-15 23:30:37,F,20,190.255.172.133,0,Colombia,2018,6,16,17,5,40
2,2018-10-26 18:00:46,62,Ads,Internet Banking,198611,2018-08-11 04:12:15,F,46,130.243.149.190,1,Sweden,2018,10,26,18,0,46
3,2018-12-12 05:41:52,28,SEO,Debit Card,127993,2018-08-17 01:52:14,M,37,48.250.147.203,0,United States,2018,12,12,5,41,52
4,2018-09-20 11:06:10,70,Ads,Credit Card,250146,2018-05-26 11:58:33,F,26,212.167.41.153,0,NaN,2018,9,20,11,6,10

In [1118]:
final_df_train.drop('Date_of_Order',axis=1,inplace=True)

In [1119]:
final_df_train.drop('Merchant_ID',axis=1,inplace=True)

In [1120]:
final_df_train.drop('Merchant_Registration_Date',axis=1,inplace=True)

In [1121]:
final_df_train.drop('IP_Address',axis=1,inplace=True)

In [1122]:
final_df_train.head()

,Order_Value_USD,Order_Source,Order_Payment_Method,Gender,Age,Fraudster,Country,year_of_Order,month_of_Order,day_of_Order,ordered_time_hours,ordered_time_minutes,ordered_time_seconds
0,148,Direct,Credit Card,M,30,0,Russia,2018,4,29,16,39,26
1,145,SEO,Credit Card,F,20,0,Colombia,2018,6,16,17,5,40
2,62,Ads,Internet Banking,F,46,1,Sweden,2018,10,26,18,0,46
3,28,SEO,Debit Card,M,37,0,United States,2018,12,12,5,41,52
4,70,Ads,Credit Card,F,26,0,NaN,2018,9,20,11,6,10

In [1123]:
final_df_train['Order_Value_USD'].isnull().sum()

0

In [1124]:
final_df_train['Order_Value_USD'].max()

385

In [1125]:
final_df_train['Order_Value_USD'].min()

22

In [1126]:
final_df_train['Order_Source'].isnull().sum()

0

In [1127]:
final_df_train['Order_Source'].unique()

array(['Direct', 'SEO', 'Ads'], dtype=object)

In [1128]:
final_df_train['Order_Payment_Method'].unique()

array(['Credit Card', 'Internet Banking', 'Debit Card', 'E-wallet',
       'Cash On Delivery'], dtype=object)

In [1129]:
final_df_train.shape

(54213, 13)

In [1130]:
final_df_train['Country'].value_counts().sum()

46405

In [1131]:
final_df_train['Country'].isnull().sum()

7808

In [1132]:
final_df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54213 entries, 0 to 54212
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Order_Value_USD       54213 non-null  int64
 1   Order_Source          54213 non-null  object
 2   Order_Payment_Method  54213 non-null  object
 3   Gender                54213 non-null  object
 4   Age                   54213 non-null  int64
 5   Fraudster             54213 non-null  int64
 6   Country               46405 non-null  object
 7   year_of_Order         54213 non-null  int64
 8   month_of_Order        54213 non-null  int64
 9   day_of_Order          54213 non-null  int64
 10  ordered_time_hours    54213 non-null  int64
 11  ordered_time_minutes  54213 non-null  int64
 12  ordered_time_seconds  54213 non-null  int64
dtypes: int64(9), object(4)
memory usage: 5.8+ MB

In [1133]:
final_df_train.columns

Index(['Order_Value_USD', 'Order_Source', 'Order_Payment_Method', 'Gender',
       'Age', 'Fraudster', 'Country', 'year_of_Order', 'month_of_Order',
       'day_of_Order', 'ordered_time_hours', 'ordered_time_minutes',
       'ordered_time_seconds'],
      dtype='object')

In [1134]:
for col in ['Order_Source', 'Order_Payment_Method', 'Gender', 'Country']:
 final_df_train[col]=final_df_train[col].astype('category')

In [1135]:
 final_df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54213 entries, 0 to 54212
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Order_Value_USD       54213 non-null  int64
 1   Order_Source          54213 non-null  category
 2   Order_Payment_Method  54213 non-null  category
 3   Gender                54213 non-null  category
 4   Age                   54213 non-null  int64
 5   Fraudster             54213 non-null  int64
 6   Country               46405 non-null  category
 7   year_of_Order         54213 non-null  int64
 8   month_of_Order        54213 non-null  int64
 9   day_of_Order          54213 non-null  int64
 10  ordered_time_hours    54213 non-null  int64
 11  ordered_time_minutes  54213 non-null  int64
 12  ordered_time_seconds  54213 non-null  int64
dtypes: category(4), int64(9)
memory usage: 4.4 MB

In [1136]:
final_df_train.head()

,Order_Value_USD,Order_Source,Order_Payment_Method,Gender,Age,Fraudster,Country,year_of_Order,month_of_Order,day_of_Order,ordered_time_hours,ordered_time_minutes,ordered_time_seconds
0,148,Direct,Credit Card,M,30,0,Russia,2018,4,29,16,39,26
1,145,SEO,Credit Card,F,20,0,Colombia,2018,6,16,17,5,40
2,62,Ads,Internet Banking,F,46,1,Sweden,2018,10,26,18,0,46
3,28,SEO,Debit Card,M,37,0,United States,2018,12,12,5,41,52
4,70,Ads,Credit Card,F,26,0,NaN,2018,9,20,11,6,10

In [1137]:
final_df_train.drop('Country',axis=1,inplace=True)

In [1138]:
final_df_train.head()

,Order_Value_USD,Order_Source,Order_Payment_Method,Gender,Age,Fraudster,year_of_Order,month_of_Order,day_of_Order,ordered_time_hours,ordered_time_minutes,ordered_time_seconds
0,148,Direct,Credit Card,M,30,0,2018,4,29,16,39,26
1,145,SEO,Credit Card,F,20,0,2018,6,16,17,5,40
2,62,Ads,Internet Banking,F,46,1,2018,10,26,18,0,46
3,28,SEO,Debit Card,M,37,0,2018,12,12,5,41,52
4,70,Ads,Credit Card,F,26,0,2018,9,20,11,6,10

In [1139]:
pd.get_dummies(final_df_train,drop_first=True)

,Order_Value_USD,Age,Fraudster,year_of_Order,month_of_Order,day_of_Order,ordered_time_hours,ordered_time_minutes,ordered_time_seconds,Order_Source_Direct,Order_Source_SEO,Order_Payment_Method_Credit Card,Order_Payment_Method_Debit Card,Order_Payment_Method_E-wallet,Order_Payment_Method_Internet Banking,Gender_M
0,148,30,0,2018,4,29,16,39,26,1,0,1,0,0,0,1
1,145,20,0,2018,6,16,17,5,40,0,1,1,0,0,0,0
2,62,46,1,2018,10,26,18,0,46,0,0,0,0,0,1,0
3,28,37,0,2018,12,12,5,41,52,0,1,0,1,0,0,1
4,70,26,0,2018,9,20,11,6,10,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54208,90,21,0,2018,6,1,14,39,47,0,0,1,0,0,0,0
54209,120,24,0,2018,8,5,21,58,2,0,1,0,1,0,0,0
54210,92,22,0,2018,6,23,1,54,24,0,0,1,0,0,0,0
54211,148,28,0,2018,6,15,21,54,36,0,0,0,0,0,0,1
54212,105,29,0,2018,8,17,6,10,5,0,1,1,0,0,0,1

In [1140]:
final_df_trains.head()

,Order_Value_USD,Age,year_of_Order,month_of_Order,day_of_Order,ordered_time_hours,ordered_time_minutes,ordered_time_seconds,Order_Source_Direct,Order_Source_SEO,Order_Payment_Method_Credit Card,Order_Payment_Method_Debit Card,Order_Payment_Method_E-wallet,Order_Payment_Method_Internet Banking,Gender_M
0,148,30,2018,4,29,16,39,26,1,0,1,0,0,0,1
1,145,20,2018,6,16,17,5,40,0,1,1,0,0,0,0
2,62,46,2018,10,26,18,0,46,0,0,0,0,0,1,0
3,28,37,2018,12,12,5,41,52,0,1,0,1,0,0,1
4,70,26,2018,9,20,11,6,10,0,0,1,0,0,0,0

In [1141]:
final_df_train.columns

Index(['Order_Value_USD', 'Order_Source', 'Order_Payment_Method', 'Gender',
       'Age', 'Fraudster', 'year_of_Order', 'month_of_Order', 'day_of_Order',
       'ordered_time_hours', 'ordered_time_minutes', 'ordered_time_seconds'],
      dtype='object')

In [1142]:
x=final_df_trains

In [1143]:
x.head()

,Order_Value_USD,Age,year_of_Order,month_of_Order,day_of_Order,ordered_time_hours,ordered_time_minutes,ordered_time_seconds,Order_Source_Direct,Order_Source_SEO,Order_Payment_Method_Credit Card,Order_Payment_Method_Debit Card,Order_Payment_Method_E-wallet,Order_Payment_Method_Internet Banking,Gender_M
0,148,30,2018,4,29,16,39,26,1,0,1,0,0,0,1
1,145,20,2018,6,16,17,5,40,0,1,1,0,0,0,0
2,62,46,2018,10,26,18,0,46,0,0,0,0,0,1,0
3,28,37,2018,12,12,5,41,52,0,1,0,1,0,0,1
4,70,26,2018,9,20,11,6,10,0,0,1,0,0,0,0

In [1144]:
y=final_df_train['Fraudster']

In [1145]:
y

0        0
1        0
2        1
3        0
4        0
        ..
54208    0
54209    0
54210    0
54211    0
54212    0
Name: Fraudster, Length: 54213, dtype: int64

In [1146]:
from sklearn.model_selection import train_test_split

In [1147]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1234)

In [1148]:
x_train.head()

,Order_Value_USD,Age,year_of_Order,month_of_Order,day_of_Order,ordered_time_hours,ordered_time_minutes,ordered_time_seconds,Order_Source_Direct,Order_Source_SEO,Order_Payment_Method_Credit Card,Order_Payment_Method_Debit Card,Order_Payment_Method_E-wallet,Order_Payment_Method_Internet Banking,Gender_M
10785,220,44,2018,1,14,8,38,57,1,0,0,0,0,1,0
29202,50,25,2018,3,30,9,41,22,0,0,0,0,0,1,0
52456,75,27,2018,8,20,4,56,44,0,1,0,0,0,1,1
19401,182,29,2018,11,25,10,47,23,0,1,0,0,0,1,1
31521,170,21,2018,8,29,20,44,20,0,0,0,0,0,1,1

In [1149]:
x_train.shape

(37949, 15)

In [1150]:
x_test.shape

(16264, 15)

In [1151]:
y_train.shape

(37949,)

In [1152]:
y_test.shape

(16264,)

In [1153]:
from sklearn.preprocessing import StandardScaler

In [1154]:
sc=StandardScaler()

In [1155]:
x_train=sc.fit_transform(x_train)

In [1156]:
x_test=sc.transform(x_test)

**LOGISTIC REGRESSION**

In [1157]:
from sklearn.linear_model import LogisticRegression

In [1160]:
log=LogisticRegression()
model_1=log.fit(x_train,y_train)

In [1161]:
y_pred_train=model_1.predict(x_train)

In [1163]:
y_pred_test=model_1.predict(x_test)

In [1167]:
from sklearn.metrics import accuracy_score,classification_report
from sklearn.metrics import classification_report,confusion_matrix

In [1169]:
print(confusion_matrix(y_train,y_pred_train))

[[34453     0]
 [ 3246   250]]

In [1170]:
print(confusion_matrix(y_test,y_pred_test))

[[14732     3]
 [ 1429   100]]

In [1171]:
score =accuracy_score(y_test,y_pred_test)
print(score)

0.911952779144122

In [1166]:
print(classification_report(y_test,y_pred_test))

              precision    recall  f1-score   support

           0       0.91      1.00      0.95     14735
           1       0.97      0.07      0.12      1529

    accuracy                           0.91     16264
   macro avg       0.94      0.53      0.54     16264
weighted avg       0.92      0.91      0.88     16264

**#PREPROCESING ON GIVEN TEST  DATA**